@font-face {
  font-family: "TisaPro";
  src: url("../../app/assets/fonts/fftisapro/tisapro.eot");
  src: url("../../app/assets/fonts/fftisapro/tisapro.eot?#iefix") format("embedded-opentype"),
    url("../../app/assets/fonts/fftisapro/tisapro.woff2") format("woff2"),
    url("../../app/assets/fonts/fftisapro/tisapro.woff") format("woff"),
    url("../../app/assets/fonts/fftisapro/tisapro.ttf") format("truetype"),
    url("../../app/assets/fonts/fftisapro/tisapro.svg#TisaPro") format("svg");
}

@font-face {
  font-family: "TisaPro";
  src: url("../../app/assets/fonts/fftisapro/tisapro-bold.eot");
  src: url("../../app/assets/fonts/fftisapro/tisapro-bold.eot?#iefix") format("embedded-opentype"),
    url("../../app/assets/fonts/fftisapro/tisapro-bold.woff2") format("woff2"),
    url("../../app/assets/fonts/fftisapro/tisapro-bold.woff") format("woff"),
    url("../../app/assets/fonts/fftisapro/tisapro-bold.ttf") format("truetype"),
    url("../../app/assets/fonts/fftisapro/tisapro-bold.svg#TisaPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TisaPro";
  src: url("../../app/assets/fonts/fftisapro/tisapro-boldita.eot");
  src: url("../../app/assets/fonts/fftisapro/tisapro-boldita.eot?#iefix") format("embedded-opentype"),
    url("../../app/assets/fonts/fftisapro/tisapro-boldita.woff2") format("woff2"),
    url("../../app/assets/fonts/fftisapro/tisapro-boldita.woff") format("woff"),
    url("../../app/assets/fonts/fftisapro/tisapro-boldita.ttf") format("truetype"),
    url("../../app/assets/fonts/fftisapro/tisapro-boldita.svg#TisaPro-BoldIta") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TisaPro";
  src: url("../../app/assets/fonts/fftisapro/tisapro-ita.eot");
  src: url("../../app/assets/fonts/fftisapro/tisapro-ita.eot?#iefix") format("embedded-opentype"),
    url("../../app/assets/fonts/fftisapro/tisapro-ita.woff2") format("woff2"),
    url("../../app/assets/fonts/fftisapro/tisapro-ita.woff") format("woff"),
    url("../../app/assets/fonts/fftisapro/tisapro-ita.ttf") format("truetype"),
    url("../../app/assets/fonts/fftisapro/tisapro-ita.svg#TisaPro-Ita") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TisaPro";
  src: url("../../app/assets/fonts/fftisapro/tisapro-medi.eot");
  src: url("../../app/assets/fonts/fftisapro/tisapro-medi.eot?#iefix") format("embedded-opentype"),
    url("../../app/assets/fonts/fftisapro/tisapro-medi.woff2") format("woff2"),
    url("../../app/assets/fonts/fftisapro/tisapro-medi.woff") format("woff"),
    url("../../app/assets/fonts/fftisapro/tisapro-medi.ttf") format("truetype"),
    url("../../app/assets/fonts/fftisapro/tisapro-medi.svg#TisaPro-Medi") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TisaPro";
  src: url("../../app/assets/fonts/fftisapro/tisapro-mediita.eot");
  src: url("../../app/assets/fonts/fftisapro/tisapro-mediita.eot?#iefix") format("embedded-opentype"),
    url("../../app/assets/fonts/fftisapro/tisapro-mediita.woff2") format("woff2"),
    url("../../app/assets/fonts/fftisapro/tisapro-mediita.woff") format("woff"),
    url("../../app/assets/fonts/fftisapro/tisapro-mediita.ttf") format("truetype"),
    url("../../app/assets/fonts/fftisapro/tisapro-mediita.svg#TisaPro-MediIta") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}