.paragraphHome {
  color: #052978;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 20px;
}

.mt-top {
  margin-top: -20px;
}

.mainFrame {
  display: flex;
  justify-content: space-evenly;
  .frame {
    margin-top: 101px;
    &__img {
      box-sizing: border-box;
      height: 202px;
      width: 290px;
      border: 1px solid #35374c;
      border-radius: 9px;
      img {
        height: 122.59px;
        width: 280px;
        position: absolute;
        top: 62px;
        left: 11px;
      }
    }

    &__img1 {
      box-sizing: border-box;
      height: 247px;
      width: 305px;
      border: 1px solid #35374c;
      border-radius: 9px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        background-size: cover;
        height: 202px;
        width: 290px;
      }
    }
    &__img2 {
      box-sizing: border-box;

      height: 247px;
      width: 305px;
      border: 1px solid #35374c;
      border-radius: 9px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 202px;
        width: 290px;
      }
    }

    &__footer {
      height: 50px;
      border-radius: 16px;
      border-color: #352103;
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        margin-top: 12px;
      }

      .isvisited {
        color: black;
        box-sizing: border-box;
        border: 2px solid #c9c9cf;
        border-radius: 16px;
        background-color: #ffffff;
      }
    }
    &:last-child {
    }
  }
}
