@import "../../../stylesheets/common/functions.scss";

.dnd-question {
  @extend %full-width;
  border-bottom: 1px solid var(--dark-grey);
  height: 60px;
  padding-top: 15px;

  .paragraph {
    $indent: 16px;
    width: calc(100% - 280px);
    color: #35374c;
    text-indent: -#{$indent};
    margin-left: $indent;
    font-variant: lining-nums;
  }
  &__drop {
    height: 32px;
    width: 257px;
    border: 1px dashed var(--question-text-blue);
    border-radius: 16px;
    background-color: rgba(217, 235, 255, 0.24);
  }

  .ui-droppable-disabled {
    @extend %color-white, %flex-center-both;
    border: 1px solid var(--question-text-blue);
    background-color: var(--primary-blue);
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.25px;
  }
  &.fadded {
    .ui-droppable-disabled {
      background-color: #669ad1;
      border: 1px solid #4a83c1;
    }
  }
}

.dnd-questions-area {
  margin-top: 25px;
}
.bottom-buttons {
  @extend %full-width, %flex, %absolute;
  justify-content: center;
  bottom: 24px;
}
