.assessment {
  margin-top: 80px;
  height: calc(100% - 116px);
  padding: 0 24px;
  #mcq-heading {
    width: 592px;
    color: #35374c;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 20px;
    font-variant: lining-nums;
  }
}
