.item-info {
  width: 100%;
  position: relative;
  margin-bottom: 16px;
  h3 {
    font-size: 12px;
    color: #052978;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 4px;
    letter-spacing: 0.25px;
  }

  .item-details {
    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 4px 24px 0px 8px;
      justify-content: space-between;
      &:nth-child(odd) {
        background: #f0f0f0;
      }
      &:nth-child(even) {
        background: #f9f9f9;
      }

      p {
        font-size: 12px;
        color: #35374c;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.4px;
        font-variant: lining-nums;
      }
    }
  }
}
