.right-area{
    .intro-heading{
        height: auto;
        margin-top: 80px;
        font-size: 14px;
 
    line-height: 20px;
    margin-bottom: 18px;
    letter-spacing: 0.25px;
    font-weight: 500;
    color: var(--question-text-blue);

    }
}