.screen0wrapper {
  padding-top: 80px;
  font-variant: lining-nums;

  .periodic-table-container {
    position: relative;
    left: 25px;
    top: 8px;

    td {
      font-family: inherit;
    }
    .row8 {
      .elements {
        height: 15px;
      }
    }

    .elements {
      height: 40px;
      width: 42px;
    }

    .symbol {
      line-height: 1;
    }
    &.colorByBlock {
      .f-block {
        background-color: var(--periodic-table-color9);
      }
    }
    &.section2 {
      .elements {
        &.cell2_13,
        &.cell2_14,
        &.cell2_15,
        &.cell2_16,
        &.cell2_17,
        &.cell2_18,
        &.cell3_13,
        &.cell3_14,
        &.cell3_15,
        &.cell3_16,
        &.cell3_17,
        &.cell3_18,
        &.cell4_13,
        &.cell4_14,
        &.cell4_15,
        &.cell4_16,
        &.cell4_17,
        &.cell4_18,
        &.cell5_13,
        &.cell5_14,
        &.cell5_15,
        &.cell5_16,
        &.cell5_17,
        &.cell5_18,
        &.cell6_13,
        &.cell6_14,
        &.cell6_15,
        &.cell6_16,
        &.cell6_17,
        &.cell6_18,
        &.cell7_13,
        &.cell7_14,
        &.cell7_15,
        &.cell7_16,
        &.cell7_17,
        &.cell7_18 {
          box-shadow: 0px 0px 0px 0px var(--question-text-blue);
          .symbol {
            width: 38px;
          }
        }
        &.cell2_13,
        &.cell2_14,
        &.cell2_15,
        &.cell2_16,
        &.cell2_17,
        &.cell2_18 {
          border-top: 3px dashed var(--question-text-blue);
          height: 38px;
        }
        &.cell7_13,
        &.cell7_14,
        &.cell7_15,
        &.cell7_16,
        &.cell7_17,
        &.cell7_18 {
          border-bottom: 3px dashed var(--question-text-blue);
          height: 38px;
        }
        &.cell2_13,
        &.cell3_13,
        &.cell4_13,
        &.cell5_13,
        &.cell6_13,
        &.cell7_13 {
          border-left: 3px dashed var(--question-text-blue);
          width: 40px;
        }
        &.cell2_18,
        &.cell3_18,
        &.cell4_18,
        &.cell5_18,
        &.cell6_18,
        &.cell7_18 {
          border-right: 3px dashed var(--question-text-blue);
          width: 40px;
        }
      }
    }
    &.section1 {
      .elements {
        &.cell1_1,
        &.cell2_1,
        &.cell3_1,
        &.cell4_1,
        &.cell5_1,
        &.cell6_1,
        &.cell7_1,
        &.cell1_18,
        &.cell1_2,
        &.cell2_2,
        &.cell3_2,
        &.cell4_2,
        &.cell5_2,
        &.cell6_2,
        &.cell7_2 {
          // opacity: 0.8;
          box-shadow: 0px 0px 0px 0px var(--question-text-blue);
          .symbol {
            width: 36px;
          }
        }
        &.cell1_1 {
          border: 3px dashed var(--question-text-blue);
          border-bottom: inherit;
        }
        &.cell1_18 {
          border: 3px dashed var(--question-text-blue);
          height: 38px;
        }
        &.cell2_1,
        &.cell3_1,
        &.cell4_1,
        &.cell5_1,
        &.cell6_1,
        &.cell7_1 {
          border-left: 3px dashed var(--question-text-blue);
          width: 41px;
          .symbol {
            width: 37px;
          }
        }
        &.cell7_1,
        &.cell7_2 {
          border-bottom: 3px dashed var(--question-text-blue);
          height: 39px;
          .symbol {
            width: 37px;
          }
        }
        &.cell2_2 {
          border-right: 3px dashed var(--question-text-blue);
          border-top: 3px dashed var(--question-text-blue);
          height: 39px;
        }
        &.cell3_2 {
          border-right: 3px dashed var(--question-text-blue);
          .symbol {
            width: 38px;
          }
        }
        &.cell4_2,
        &.cell5_2,
        &.cell6_2,
        &.cell7_2 {
          border-right: 3px dashed var(--question-text-blue);
          .symbol {
            width: 36px;
          }
        }
      }
    }
    &.section3 {
      .elements {
        &.cell4_3,
        &.cell4_4,
        &.cell4_5,
        &.cell4_6,
        &.cell4_7,
        &.cell4_8,
        &.cell4_9,
        &.cell4_10,
        &.cell4_11,
        &.cell4_12 {
          // opacity: 0.8;
          box-shadow: none;
          border-top: 3px dashed var(--question-text-blue);
          height: 38px;
          .symbol {
            width: 38px;
          }
        }
        &.cell7_3,
        &.cell7_4,
        &.cell7_5,
        &.cell7_6,
        &.cell7_7,
        &.cell7_8,
        &.cell7_9,
        &.cell7_10,
        &.cell7_11,
        &.cell7_12 {
          // opacity: 0.8;
          border-bottom: 3px dashed var(--question-text-blue);
          height: 38px;
          .symbol {
            width: 38px;
          }
        }
        &.cell4_3,
        &.cell5_3,
        &.cell6_3,
        &.cell7_3 {
          // opacity: 0.8;
          border-left: 3px dashed var(--question-text-blue);
          .symbol {
            width: 37px;
          }
        }
        &.cell4_12,
        &.cell5_12,
        &.cell6_12,
        &.cell7_12 {
          // opacity: 0.8;
          border-right: 3px dashed var(--question-text-blue);
          .symbol {
            width: 37px;
          }
        }
      }
    }
    &.section4 {
      .elements {
        &.cell9_3,
        &.cell9_4,
        &.cell9_5,
        &.cell9_6,
        &.cell9_7,
        &.cell9_8,
        &.cell9_9,
        &.cell9_10,
        &.cell9_11,
        &.cell9_12,
        &.cell9_13,
        &.cell9_14,
        &.cell9_15,
        &.cell9_16,
        &.cell9_17 {
          // opacity: 0.8;
          border-top: 3px dashed var(--question-text-blue);
          height: 40px;
          .symbol {
            width: 38px;
          }
        }
        &.cell10_3,
        &.cell10_4,
        &.cell10_5,
        &.cell10_6,
        &.cell10_7,
        &.cell10_8,
        &.cell10_9,
        &.cell10_10,
        &.cell10_11,
        &.cell10_12,
        &.cell10_13,
        &.cell10_14,
        &.cell10_15,
        &.cell10_16,
        &.cell10_17 {
          // opacity: 0.8;
          border-bottom: 3px dashed var(--question-text-blue);
          height: 40px;
          .symbol {
            width: 38px;
          }
        }
        &.cell9_3,
        &.cell10_3 {
          border-left: 3px dashed var(--question-text-blue);
          width: 41px;
          .symbol {
            width: 37px;
          }
        }
        &.cell9_17,
        &.cell10_17 {
          border-right: 3px dashed var(--question-text-blue);
          width: 41px;
          .symbol {
            width: 37px;
          }
        }
      }
    }
  }

  .instructor {
    padding-left: 24px;
    padding-right: 16px;
    .heading {
      color: var(--question-text-blue);
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.25px;
      line-height: 20px;
      margin-bottom: 6px;
    }
  }

  .radiobuttons {
    flex-direction: row !important;
    flex-wrap: wrap;
    margin-left: 24px;
    .radiobutton {
      margin-right: 48px;
      margin-bottom: 12px;
      .radiobutton-inner-wrapper {
        height: 32px;
        input[type="radio"] + div {
          margin-right: 4px;
          margin-bottom: 0px;
        }

        label {
          height: 20px;
          color: var(--question-heading-bluish) !important;
          margin-top: 8px;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.25px;
          line-height: 20px;
        }
      }
    }
  }

  .submit-button {
    width: 100%;
    bottom: 4px;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .continue-button {
    .btn.toast-secondary-button {
      bottom: 4px;
    }
  }
}
