.droppable_container {
  margin-top: 34px;
  .droppable-stage1 {
    .dropZone-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      align-content: center;
      color: #0056b3;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.25px;
      line-height: 20px;
      .dropping-Area {
        .heading-1 {
          position: absolute;
          top: 289px;
          left: 165px;
        }
        .heading-2 {
          position: absolute;
          top: 300px;
          width: 124px;
          right: 349px;
        }
        .heading-3 {
          position: absolute;
          top: 289px;
          right: 210px;
        }

        .ui-droppable {
          box-sizing: border-box;
          height: 255px;
          border-radius: 16px;
          position: absolute;
          display: flex;
          align-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          top: 323px;
          &.droppable-1 {
            left: 98px;
            padding: 28px 27px;
            width: 193px;
            top: 303px;
            div {
              height: 36px;
              width: 89px;
              left: 13px;
              top: 15px;
              margin-top: 2px;

              &:nth-child(3) {
                margin-left: 40px;
              }

              &:nth-child(5) {
                margin-left: 40px;
              }

              &:nth-child(7) {
                margin-left: 40px;
              }
            }
            .label {
              padding: 6px 10px;
            }
          }
          &.droppable-2 {
            width: 144px;
            left: 314px;
            top: 307px;
            padding: 26px 2px;
            div {
              height: 36px;
              width: 89px;
              left: 0px;
              top: 15px;
              margin-top: 2px;
              &:nth-child(3) {
                margin-left: 40px;
              }

              &:nth-child(5) {
                margin-left: 40px;
              }

              &:nth-child(7) {
                margin-left: 40px;
              }
            }
            .label {
              padding: 6px 10px;
            }
          }
          &.droppable-3 {
            right: 123px;
            width: 195px;
            top: 303px;
            padding: 28px 13px;
            div {
              left: 0px;
              width: 89px;
              height: 36px;
              top: 16px;
              margin-top: 2px;
              &:nth-child(3) {
                margin-left: 40px;
              }

              &:nth-child(5) {
                margin-left: 40px;
              }

              &:nth-child(7) {
                margin-left: 40px;
              }
            }
            .label {
              padding: 6px 10px;
              &.dropped_item {
                margin-bottom: 8px;
              }
            }
          }
        }
      }
    }
    .imagesDiv {
      width: 100%;
      display: flex;
      margin-top: 10px;
      .bg-img {
        width: 400px;
        height: 262px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        &.left-background {
          top: 274px;
          left: 80px;
          background-image: url("../../../../assets/images/left_new.png");
        }
        &.right-background {
          top: 274px;
          right: 108px;
          background-image: url("../../../../assets/images/right_new.png");
        }
      }
    }
  }

  .dropped_item {
    height: 36px;
    width: 89px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px dashed var(--primary-blue);
    border-radius: 4px;
    background-color: #0056b3;
    color: #ffffff;
    white-space: nowrap;
  }
}
