.draggable-button {
  .button-label-wrapper {
    .buttons-wrapper {
      background-color: blueviolet;
      width: 48px;
      height: 48px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}


.radiobuttons .radiobutton .radiobutton-inner-wrapper label {
  font-size: 16px;
  margin-top: 4px;
  line-height: 24px;
  color: var(--darkblack-text);
  overflow: hidden;
}
.mcq-question-area .inner-wrapper {
  height: auto;
  margin-top: 24px;
}
