.color-strip-header {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 8px;
  margin-right: 24px;
  > span {
    background-color: var(--white);
    color: var(--range-slider-unselected-value);
    padding-right: 5px;
    padding-left: 5px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 16px;
    text-align: center;
    z-index: 1;
  }

  > div {
    position: absolute;
    top: 8px;
    width: 752px;
    height: 8px;
    border: solid 1px var(--dark-grey);
    border-bottom: none;
  }
}
