.preload-image {
  opacity: 0;
}

.preload-image-1 {
  background-image: url(../../assets/images/See-saw-screen1.png);
}
.preload-image-2 {
  background-image: url(../../assets/images/Base-ball-screen-1.png);
}
.preload-image-3 {
  background-image: url(../../assets/images/base_ball_tab.png);
}
.preload-image-4 {
  background-image: url(../../assets/images/see_saw_tab.png);
}
