.bottom-static {
  .intstruction-area {
    position: relative;
    .instruction-text,
    .instruction-blue-text {
      position: relative;
      left: 0;
      color: var(--question-text-blue);
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.25px;
      line-height: 20px;
    }
    .instruction-text {
      top: 0px;
    }
    .instruction-blue-text {
      top: 8px;
    }
    .toast-secondary-button {
      right: 2px;
    }
  }
}

.bottom-section {
  overflow: hidden;
  height: 100%;
  .bottom-interactive {
    height: 100%;
    .inner-wrapper {
      .question {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.25px;
        line-height: 20px;
      }
      .radiobuttons {
        flex-direction: row;
        justify-content: space-between;
        .radiobutton {
          .radiobutton-inner-wrapper {
            height: 105px;
            width: 215px;
            align-items: unset;
            label {
              font-size: 14px;
              font-weight: 500;
              letter-spacing: 0.25px;
              line-height: 20px;
              color: var(--lightgreyshade);
            }

            input[type="radio"] {
              top: 6px;
            }
          }
        }
      }
    }
    input[type="radio"] + div + label {
      margin-top: 7px;
    }

    .toast-secondary-button {
      right: 26px;
    }
  }
  .bottom-static,
  .intstruction-area {
    height: 100%;
  }
}
