
        .draggable{
          position: absolute;
          height: 100px;
          width: 100px;
         // cursor: grab;
          border-radius: 4px;
          align-items: center;
          border: 2px dotted var(--question-text-blue);
          &.btn {
            &.option-0{
              bottom: 76px;
              left: 110px;
            }
            &.option-1{
              bottom: 76px;
              left: 342px;
            }
            &.option-2{
              bottom: 76px;
              left: 575px;
            }
   }
  
          }
      
        .labels{
          height: 20px;
          color: var(--label);
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.25px;
          line-height: 20px;
          text-align: center;
          margin-top: 8px;
          position: absolute;
          &.label-0{
            bottom: 47px;
            left: 134px;

          }
          &.label-1{
            bottom: 47px;
            left: 353px;
          }
          &.label-2{
            bottom: 47px;
            left: 603px;
          }
        }
        .highlighter {
          position: absolute;
          height: 100px;
          width: 100px;
          cursor: grab;
          border-radius: 4px;
          border: 2px dotted var(--question-text-blue);
          background: rgba(217,235,255,0.24);
          &.btn {
            &.drag-0{
              bottom: 76px;
              left: 110px;
            }
            &.drag-1{
              bottom: 76px;
              left: 342px;
            }
            &.drag-2{
              bottom: 76px;
              left: 575px;
            }
            &.icon-only {
              &:hover:not(:disabled){
                padding: 8px;
                border: 2px solid transparent;
                
              }
              &:focus:not(:disabled){
                padding: 8px;
                border: 2px solid transparent;
               
              }
              &.element-carbon{
                .icon {
                  background-image: url("../../../../assets/images/activity_screen1/carbon_3x.png");
                  width: 90px;
                  height: 85px;
                  margin-top: 9px;
                 // margin:15px 15px -20px 12px;
                }
              }
              &.element-aluminum {
                .icon {
                  background-image: url("../../../../assets/images/activity_screen1/Aluminum_3x.png");
                  width: 90px;
                  height: 66px;
                  margin-top: 7px;
                 // margin: 24px 19px -12px 19px;
                }
              }
    
              &.element-silicon {
                .icon {
                  background-image: url("../../../../assets/images/activity_screen1/silicon_3x.png");
                  width: 107px;
                  height: 78px;
                  margin-top: 19px;
                }
              }   
            }
          }
  
      }
      .clone-element{
        border: 2px dotted transparent;
        background: transparent;
        outline: 2px dotted transparent;
        &.btn:hover{
          box-shadow: 0 0 0 1px transparent, 0 0 0 2px transparent;
        }
      }
    
 