.video-container {
  .video-wrapper {
    video {
      &.question1 {
        background: transparent url(../../../assets/images/conduction_1.png)
          center / contain no-repeat;
      }
      &.question2 {
        background: transparent url(../../../assets/images/induction_1.png)
          center / contain no-repeat;
      }
      &.question3 {
        background: transparent url(../../../assets/images/polarization_1.png)
          center / contain no-repeat;
      }
      &.question4 {
        background: transparent url(../../../assets/images/induction_2.png)
          center / contain no-repeat;
      }
      &.question5 {
        background: transparent url(../../../assets/images/conduction_2.png)
          center / contain no-repeat;
      }
      &.question6 {
        background: transparent url(../../../assets/images/polarization_2.png)
          center / contain no-repeat;
      }
    }
  }
}
