.right-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.right-body-container {
  width: 100%;
  height: calc(100% - 60px);
  position: absolute;
  flex-direction: row;
  margin-top: 60px;
  h1,
  h2 {
    color: #052978;
    font-weight: 500;
    line-height: 28px;
    font-size: 20px;
    letter-spacing: 0.15px;
  }
  p {
    color: #35374c;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 20px;
    margin-top: 4px;
  }
  .years-radio-wrapper {
    margin-top: 8px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
  }
  .year-radio-box {
    border-radius: 20px;
    color: #0056b3;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    cursor: pointer;
    margin-right: 8px;
    border: 2px solid #0056b3;
    background: #fff;
    &.selected,
    &:hover {
      padding: 4px 12px;
      background-color: #0056b3;
      .text {
        color: #ffffff;
      }
    }
    &:focus {
      padding: 4px 12px;
    }
    &:disabled {
      cursor: auto;
      background: #fff;
      .text {
        color: #0056b3;
      }
    }
    .text {
      margin: 0;
      color: #0056b3;
    }
  }

  .continents-tumbnails {
    margin-top: 8px;
    .plates-wrapper {
      height: auto;
      width: auto;
      position: relative;
      display: inline-block;
      margin-right: 8px;
      margin-bottom: 8px;
      box-sizing: border-box;
      &.index4,
      &.index8 {
        margin-right: 0;
      }
      &.hidden {
        display: none;
      }
      .draggable-component {
        background-size: calc(100% - 2px);
        background-position: 1px 1px;
        background-repeat: no-repeat;
        height: 47px;
        width: 47px;
        border: 1px solid #0056b3;
        background-color: #ffffff;
        z-index: 1;
        border-radius: 0px;
        padding: 0;
        &.green {
          border: 1px solid #06880d !important;
          background-color: #eef7f0 !important;
          cursor: default;
        }
      }

      button {
        border: none;
        cursor: pointer;
        &:hover {
          // border: 1px dashed #052978;
          background-color: #d9ebff;
        }
        &.active {
          border: 1px dashed #052978;
          background-color: #d9ebff;
          pointer-events: none;
          cursor: default;
          // opacity: 1 !important;
        }
      }
      .hiddenBtn {
        width: 47px;
        height: 47px;
        position: absolute;
        top: 0;
        background: transparent;
        border-radius: 0px;
        padding: 0;
        pointer-events: none;
      }
      .checked {
        background-image: url(../assets/images/chk.svg);
        width: 12px;
        height: 12px;
        position: absolute;
        left: 2px;
        top: 2px;
        margin: auto;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 2;
        &.hidden {
          opacity: 0;
        }
      }
      .dropdown {
        border: 1px solid #c9c9cf;
        border-radius: 8px;
        background-color: #ffffff;
        height: auto;
        position: absolute;
        top: 50px;
        z-index: 5;
        float: left;
        width: auto;
        min-width: 110px;
        max-width: 100%;

        .option {
          width: auto;
          box-shadow: inset 0 -1px 0 0 #c9c9cf;
          list-style: none;
          height: 100%;
          position: relative;
          cursor: pointer;
          color: #35374c;
          padding: 6px 11px;
          font-size: 14px;
          letter-spacing: 0.25px;
          line-height: 20px;
          display: block;
          &:hover {
            background-color: #0056b3;
            color: #ffffff !important;
          }
        }
        a {
          color: #35374c;
          font-size: 14px;
          letter-spacing: 0.25px;
          line-height: 20px;
          text-decoration: none;
          padding-top: 1px;
          z-index: 10;
          &:hover {
            color: #ffffff !important;
          }
        }
      }
    }
  }
  .key-labels {
    position: absolute;
    // bottom: 84px;
    top: 322px;
    li {
      display: inline-block;
      position: relative;
      width: 100%;
      .color-box {
        height: 12px;
        width: 12px;
        border-radius: 2px;
        margin-right: 6px;
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        position: absolute;
      }
      .text {
        color: #35374c;
        font-size: 12px;
        letter-spacing: 0.4px;
        line-height: 16px;
        position: relative;
        bottom: 5px;
        left: 18px;
      }
    }
  }

  .btn {
    &.toast-secondary-button {
      &.positive {
        position: absolute;
        bottom: 24px;
        right: 0;
      }
    }
  }
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.checkbox input[type="checkbox"] + div + label {
  margin-top: 3px;
}
