.intro-image{
    height: 280px;
    width: 418px;
    overflow: hidden;
    position: relative;
    background-size: contain;
    background-image: url("../../assets/images/intro-image.png");
    background-repeat: no-repeat;
    margin-top: 22px;
    margin-bottom: 28px;
  }