.main-heading {
  margin-top: 80px;
//   margin-left: 24px;
  color: #052978;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 20px;
}

.right .mcq-question-area .inner-wrapper {
  height: auto;  margin-top: 16px;
}

