.bottom-section-wrapper {
  width: 100%;
  height: 100%;
  .instruction-text {
    span {
      display: block;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  } 
  .mcq-question-area {
    .inner-wrapper {
      .question {
        br {
          content: '';
          display: block;
          margin: 14px 0;
        }
      }
    }
  } 
  .radiobuttons {
    flex-direction: row;
    .radiobutton {
      &:first-child {
        margin-right: 30px;
      }
      label {
        padding-top: 4px;
      }
    }
  }
}
.checkbox-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  li {
    width: 33.33%;
    margin-bottom: 16px;
  }
}