$direct-child: "& >";
$children    : "& ";
$next        : "& +";
$siblings    : "& ~";

$items: sun-0-1 0 -16deg,
sun-0-2 0 -32deg,
sun-0-3 0 -48deg,
sun-0-4 0 -64deg,
sun-0-5 0 -80deg,
sun-0-6 0 -96deg,
sun-0-7 0 -112deg,
sun-0-8 0 -128deg,
sun-1-2 -16deg -32deg,
sun-1-3 -16deg -48deg,
sun-1-4 -16deg -64deg,
sun-1-5 -16deg -80deg,
sun-1-6 -16deg -96deg,
sun-1-7 -16deg -112deg,
sun-1-8 -16deg -128deg,
sun-2-3 -32deg -48deg,
sun-2-4 -32deg -64deg,
sun-2-5 -32deg -80deg,
sun-2-6 -32deg -96deg,
sun-2-7 -32deg -112deg,
sun-2-8 -32deg -128deg,
sun-3-4 -48deg -64deg,
sun-3-5 -48deg -80deg,
sun-3-6 -48deg -96deg,
sun-3-7 -48deg -112deg,
sun-3-8 -48deg -128deg,
sun-4-5 -64deg -80deg,
sun-4-6 -64deg -96deg,
sun-4-7 -64deg -112deg,
sun-4-8 -64deg -128deg,
sun-5-6 -80deg -96deg,
sun-5-7 -80deg -112deg,
sun-5-8 -80deg -128deg,
sun-6-7 -96deg -112deg,
sun-6-8 -96deg -128deg,
sun-7-8 -112deg -128deg,
sun-8-7 -128deg -112deg,
sun-8-6 -128deg -96deg,
sun-8-5 -128deg -80deg,
sun-8-4 -128deg -64deg,
sun-8-3 -128deg -48deg,
sun-8-2 -128deg -32deg,
sun-8-1 -128deg -16deg,
sun-8-0 -128deg 0,
sun-7-6 -112deg -96deg,
sun-7-5 -112deg -80deg,
sun-7-4 -112deg -64deg,
sun-7-3 -112deg -48deg,
sun-7-2 -112deg -32deg,
sun-7-1 -112deg -16deg,
sun-7-0 -112deg 0,
sun-6-5 -96deg -80deg,
sun-6-4 -96deg -64deg,
sun-6-3 -96deg -48deg,
sun-6-2 -96deg -32deg,
sun-6-1 -96deg -16deg,
sun-6-0 -96deg 0,
sun-5-4 -80deg -64deg,
sun-5-3 -80deg -48deg,
sun-5-2 -80deg -32deg,
sun-5-1 -80deg -16deg,
sun-5-0 -80deg 0,
sun-4-3 -64deg -48deg,
sun-4-2 -64deg -32deg,
sun-4-1 -64deg -16deg,
sun-4-0 -64deg 0,
sun-3-2 -48deg -32deg,
sun-3-1 -48deg -16deg,
sun-3-0 -48deg 0,
sun-2-1 -32deg -16deg,
sun-2-0 -32deg 0,
sun-1-0 -16deg 0;


$shadows: shadow-0-1 -275deg -289deg 220px 127.6px,
shadow-0-2 -275deg -360deg 220px 0,
shadow-0-3 -275deg -318deg 220px 42.57px,
shadow-0-4 -275deg -343deg 220px 35.46px,
shadow-0-5 -275deg -364deg 220px 21.27px,
shadow-0-6 -275deg -409deg 220px 35.46px,
shadow-0-7 -275deg -427deg 220px 42.57px,
shadow-0-8 -275deg -440deg 220px 78px,
shadow-1-2 -289deg -360deg 127.6px 0,
shadow-1-3 -289deg -318deg 127.6px 42.57px,
shadow-1-4 -289deg -343deg 127.6px 35.46px,
shadow-1-5 -289deg -364deg 127.6px 21.27px,
shadow-1-6 -289deg -409deg 127.6px 35.46px,
shadow-1-7 -289deg -427deg 127.6px 42.57px,
shadow-1-8 -289deg -440deg 127.6px 78px,
shadow-2-3 -360deg -318deg 0px 42.57px,
shadow-2-4 -360deg -343deg 0px 35.46px,
shadow-2-5 -360deg -364deg 0px 21.27px,
shadow-2-6 -360deg -409deg 0px 35.46px,
shadow-2-7 -360deg -427deg 0px 42.57px,
shadow-2-8 -360deg -440deg 0px 78px,
shadow-3-4 -318deg -343deg 42.57px 35.46px,
shadow-3-5 -318deg -364deg 42.57px 21.27px,
shadow-3-6 -318deg -409deg 42.57px 35.46px,
shadow-3-7 -318deg -427deg 42.57px 42.57px,
shadow-3-8 -318deg -440deg 42.57px 78px,
shadow-4-5 -343deg -364deg 35.46px 21.27px,
shadow-4-6 -343deg -409deg 35.46px 35.46px,
shadow-4-7 -343deg -427deg 35.46px 42.57px,
shadow-4-8 -343deg -440deg 35.46px 78px,
shadow-5-6 -364deg -409deg 21.27px 35.46px,
shadow-5-7 -364deg -427deg 21.27px 42.57px,
shadow-5-8 -364deg -440deg 21.27px 78px,
shadow-6-7 -409deg -427deg 35.46px 42.57px,
shadow-6-8 -409deg -440deg 35.46px 78px,
shadow-7-8 -427deg -440deg 42.57px 78px,
shadow-8-7 -440deg -427deg 78px 42.57px,
shadow-8-6 -440deg -409deg 78px 35.46px,
shadow-8-5 -440deg -364deg 78px 21.27px,
shadow-8-4 -440deg -343deg 78px 35.46px,
shadow-8-3 -440deg -318deg 78px 42.57px,
shadow-8-2 -440deg -360deg 78px 0px,
shadow-8-1 -440deg -289deg 78px 127.6px,
shadow-8-0 -440deg -275deg 78px 220px,
shadow-7-6 -427deg -409deg 42.57px 35.46px,
shadow-7-5 -427deg -364deg 42.57px 21.27px,
shadow-7-4 -427deg -343deg 42.57px 35.46px,
shadow-7-3 -427deg -318deg 42.57px 42.57px,
shadow-7-2 -427deg -360deg 42.57px 0px,
shadow-7-1 -427deg -289deg 42.57px 127.6px,
shadow-7-0 -427deg -275deg 42.57px 220px,
shadow-6-5 -409deg -364deg 35.46px 21.27px,
shadow-6-4 -409deg -343deg 35.46px 35.46px,
shadow-6-3 -409deg -318deg 35.46px 42.57px,
shadow-6-2 -409deg -360deg 35.46px 0px,
shadow-6-1 -409deg -289deg 35.46px 127.6px,
shadow-6-0 -409deg -275deg 35.46px 220px,
shadow-5-4 -364deg -343deg 21.27px 35.46px,
shadow-5-3 -364deg -318deg 21.27px 42.57px,
shadow-5-2 -364deg -360deg 21.27px 0px,
shadow-5-1 -364deg -289deg 21.27px 127.6px,
shadow-5-0 -364deg -275deg 21.27px 220px,
shadow-4-3 -343deg -318deg 35.46px 42.57px,
shadow-4-2 -343deg -360deg 35.46px 0px,
shadow-4-1 -343deg -289deg 35.46px 127.6px,
shadow-4-0 -343deg -275deg 35.46px 220px,
shadow-3-2 -318deg -360deg 42.57px 0px,
shadow-3-1 -318deg -289deg 42.57px 127.6px,
shadow-3-0 -318deg -275deg 42.57px 220px,
shadow-2-1 -360deg -289deg 0px 127.6px,
shadow-2-0 -360deg -275deg 0px 220px,
shadow-1-0 -289deg -275deg 127.6px 220px,