.screen2 {
  .view-container {
    padding: 80px 24px 0 24px;
  }

  .headingtop {
    font-size: 14px;
    color: #052978;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 8px;
    letter-spacing: 0.25px;
  }

  .optionimage {
    display: flex;
    flex-direction: row;
    > div {
      width: 176px;
      height: 132px;
      border-radius: 4px;
      margin-right: 8px;
      background-size: contain;
      background-repeat: no-repeat;
      &:last-child {
        margin-right: 0;
      }
    }
    .optionone {
      background-image: url(../../../assets/images/desert.png);
    }
    .optiontwo {
      background-image: url(../../../assets/images/turnado.png);
    }
    .optionthree {
      background-image: url(../../../assets/images/snow.png);
    }
    .optionfour {
      background-image: url(../../../assets/images/cyclon.png);
    }
  }

  .mcq-question-area {
    height: 95%;
    .inner-wrapper {
      .radiobuttons {
        width: 728px;
        height: 36px;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;

        .radiobutton {
          width: 25%;
          margin: 0;
          margin-right: 0px;

          .radiobutton-inner-wrapper {
            input[type="radio"] {
              & + div + label {
                margin-top: 4px;
              }
            }
          }
        }
      }
    }
  }
}
