.draggable-button {
  .button-label-wrapper {
    .buttons-wrapper {
      background-color: blueviolet;
      width: 48px;
      height: 48px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.hidden-images {
  top: 0;
  left: 0;
  opacity: 0;
  width: 10px;
  height: 10px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;

  &.image0 {
    background-image: url(../assets/images/launch.png);
  }
  &.image1 {
    background-image: url(../assets/images/soil1.png);
  }
  &.image2 {
    background-image: url(../assets/images/soil2.png);
  }
  &.image3 {
    background-image: url(../assets/images/soil3.png);
  }
  &.image4 {
    background-image: url(../assets/images/slimy.png);
  }
  &.image5 {
    background-image: url(../assets/images/flat_shape.png);
  }
  &.image6 {
    background-image: url(../assets/images/gritty.png);
  }
  &.image7 {
    background-image: url(../assets/images/pointy_shape.png);
  }
  &.image8 {
    background-image: url(../assets/images/porus.png);
  }
  &.image9 {
    background-image: url(../assets/images/round_shape.png);
  }
}
