.top-static {
  .Gel-electrophoresis {
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
    background-image: url(../../assets/images/image_2.png);
    .imgtexts {
      &.screen2 {
        width: 100%;
        height: 100%;
        position: relative;

        > div {
          width: 49%;
          height: 100%;
          display: inline-block;

          &:last-child {
            margin-left: 7px;
          }
        }
      }

      .reading {
        position: relative;
        top: 110px;
        left: 666px;

        color: red;
      }
      p {
        font-variant: lining-nums;
        font-size: 12px;
        line-height: 18px;
        font-weight: 500;
      }
    }
  }

  .Genetic-engineering {
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
    background-image: url(../../assets/images/image_3.png);
    .imgtexts {
      .bigger_fruit {
        position: absolute;
        top: 90px;
        left: 144px;
        &.es {
          left: 132px;
        }
      }
      .sweeter_fruit {
        position: absolute;
        top: 300px;
        left: 144px;
        &.es {
          left: 132px;
        }
      }
      .selective_breeding {
        position: absolute;
        top: 138px;
        left: 310px;
        color: white;
        width: 70px;
        &.es {
          left: 296px;
        }
      }
      .bigger_sweeter_fruit {
        position: relative;
        top: 195px;
        left: 415px;
        width: 102px;
        text-align: center;
        &.es {
          left: 410px;
          width: 117px;
        }
      }
      p {
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
      }
    }
  }

  .Polymerase-chain-reaction {
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;

    background-image: url(../../assets/images/image_1.png);

    .imgtexts {
      position: absolute;

      font-variant: lining-nums;
      .nucleotide {
        position: absolute;
        top: 80px;
        left: 160px;

        .linenucleotide {
          position: absolute;
          height: 25px;
          width: 0px;
          top: 16px;
          right: 84px;
          transform: rotate(215deg);
          border-left: 2px solid #35374c;
          transform-style: preserve-3d;
        }
      }
      .original_dna {
        position: absolute;

        top: 260px;
        left: 122px;

        .lineoriginal_dna {
          position: absolute;
          height: 50px;

          bottom: 25px;
          left: 22px;
          transform: rotate(180deg);
          border-left: 2px solid #35374c;
          transform-style: preserve-3d;
        }
      }
      .dna_primer {
        position: absolute;
        top: 270px;
        left: 248px;
        &.es {
          left: 220px;
        }
        .linedna_primer {
          position: absolute;
          height: 45px;
          width: 0px;
          bottom: 10px;
          right: 110px;
          transform: rotate(118deg);
          border-left: 2px solid #35374c;
          transform-style: preserve-3d;
        }
      }
      .denaturation {
        position: absolute;
        top: 175px;
        left: 280px;
        &.es {
          left: 260px;
        }
      }
      .annealing {
        position: absolute;
        left: 440px;
        top: 175px;
        &.es {
          left: 435px;
        }
      }
      .extension {
        position: absolute;
        top: 175px;
        left: 600px;
        &.es {
          left: 600px;
        }
      }

      .item1 {
        position: absolute;
        top: 171px;
        left: 121px;
      }
    }
    .item2 {
      position: absolute;
      top: 171px;
      left: 222px;
    }
    .item3 {
      position: absolute;
      top: 136px;
      left: 272px;
    }
    .item4 {
      position: absolute;
      top: 222px;
      left: 373px;
    }
    .item5 {
      position: absolute;
      top: 109px;
      left: 425px;
    }

    .item6 {
      position: absolute;
      top: 245px;
      left: 532px;
    }
    .item7 {
      position: absolute;
      top: 67px;
      left: 580px;
    }
    .item8 {
      position: absolute;
      top: 80px;
      left: 690px;
    }
    .item9 {
      position: absolute;
      top: 281px;
      left: 584px;
    }
    .item10 {
      position: absolute;
      top: 294px;
      left: 692px;
    }
    .item11 {
      position: absolute;
      top: 190px;
      left: 121px;
    }
    .item12 {
      position: absolute;
      top: 190px;
      left: 222px;
    }
    .item13 {
      position: absolute;
      top: 136px;
      left: 373px;
    }
    .item14 {
      position: absolute;
      top: 223px;
      left: 272px;
    }
    .item15 {
      position: absolute;
      top: 109px;
      left: 532px;
    }
    .item16 {
      position: absolute;
      top: 246px;
      left: 425px;
    }
    .item17 {
      position: absolute;
      top: 80px;
      left: 580px;
    }
    .item18 {
      position: absolute;
      top: 67px;
      left: 690px;
    }
    .item19 {
      position: absolute;
      top: 295px;
      left: 584px;
    }
    .item20 {
      position: absolute;
      top: 280px;
      left: 693px;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      white-space: nowrap;
    }
  }
}
