.last-screen-left-main {
  width: 100%;
  height: 100%;
  background-color: #effcfc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .mutation-fifth-screen {
    margin: 0px 0px 26px 0px;
    width: 95%;
    height: 133px;
    display: flex;
    align-items: center;
  }

  .mutation-last-screen {
    margin: 0px 0px 26px 77px !important;
    align-items: flex-start;
    flex-direction: column;
  }

  .mutation-row {
    display: flex;
    align-items: center;
    height: 100%;

    .mutation-label-container {
      width: 85px;
      height: 70%;

      .mutation-label {
        color: #052978;
        font-size: 11.76px;
        font-weight: 500;
        letter-spacing: 0.21px;
        line-height: 16.8px;
        margin-right: 20px;
        width: 80%;
      }
    }

    .mutations-container {
      display: flex;
      height: 70%;
      flex-flow: wrap;
      width: 380px;

      &.mutations-container-third {
        width: 455px !important;
      }

      .mutation-sequence {
        display: flex;
        .mutaion {
          width: 49px;
          height: 21px;
          background-size: cover;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #ffffff;
        }

        .mutation-blue-bg {
          background-image: url("../../assets/images/10003.png");
        }

        .mutation-green-bg {
          background-image: url("../../assets/images/10002.png");
          color: black !important;
        }

        .mutation-red-bg {
          background-image: url("../../assets/images/10005.png");
        }

        p {
          margin-top: 5px;
          font-size: 12px;
          letter-spacing: 0.21px;
          line-height: 20px;
          font-weight: 500;
          margin-left: 4px;
        }

        .dash-between-arr {
          height: 21px;
          width: 6px;
          color: #052978;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.25px;
          line-height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 4px;
          margin-right: 4px;
        }
      }
    }
  }

  .mutation-button-container {
    width: 380px;
    display: flex;
    justify-content: center;
    .mutation-button-disabled {
      box-sizing: border-box;
      height: 28px;
      width: max-content;
      border: 2px solid #c9c9cf;
      border-radius: 30px;
      background-color: #ffffff;
      padding: 5px 16px;
      color: #6b6b76;
      font-size: 14px;
      letter-spacing: 0.25px;
      line-height: 16px;
      cursor: pointer;
      pointer-events: none;
    }

    .mutation-button {
      box-sizing: border-box;
      height: 28px;
      width: max-content;
      background-color: var(--secondary-attention-dark);
      border-radius: 30px;
      color: #ffffff;
      padding: 7px 16px;
      border: none;
      font-size: 14px;
      letter-spacing: 0.25px;
      line-height: 16px;
      cursor: pointer;
    }

    .mutation-button:hover {
      box-shadow: 0 0 0 1px var(--white), 0 0 0 2px var(--primary-blue) !important;
    }

    .mutation-button-selected {
      box-sizing: border-box;
      width: max-content;
      height: 28px;
      box-shadow: 0 0 0 2px var(--white), 0 0 0 4px var(--primary-blue) !important;
      border-radius: 30px;
      padding: 4px 16px;
      color: #ffffff;
      border: 1px solid #352103;
      background-color: #ba5b08;
      pointer-events: none;
      font-size: 14px;
      letter-spacing: 0.25px;
      line-height: 20px;
    }
  }
}

.last-screen-right-main {
  margin-top: 80px;
  .last-screen-right-text {
    width: 218px;
    color: #052978;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 20px;

    .last-screen-right-second-text {
      margin-top: 8px;
    }
  }

  .alligator-container {
    position: relative;
    box-sizing: border-box;
    height: max-content;
    width: 208px;
    border: 2px solid #ba5b08;
    border-radius: 8px;
    background-color: #fbf1e9;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .alligator-img {
    width: 190px;
    height: 106px;
    box-sizing: border-box;
    border: 1px solid #ba5b08;
    border-radius: 8px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 184px;
      height: 96px;
      background-size: contain;
    }
  }

  .alligator-info-txt {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 184px;
    color: #530606;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 20px;
  }
}
