@import "../../stylesheets/common/functions.scss";

.video-container .play-pause-buttons {
  .btn {
    display: none;
  }
}

.video-container {
  @extend %full-width, %absolute, %bottom-zero;
  position: absolute;
  top: 0px;
  z-index: 1;
  .play-pause-buttons .btn {
    top: 26px;
    right: 24px;
    left: initial;
    transform: initial;
  }
  div {
    .video-wrapper {
      video {
        &.poster1 {
          background: transparent url("../../assets/images/1.png") center /
            cover no-repeat;
        }
        &.poster2 {
          background: transparent url("../../assets/images/2.png") center /
            cover no-repeat;
        }
        &.poster3 {
          background: transparent url("../../assets/images/3.png") center /
            cover no-repeat;
        }
      }
    }
  }
}
