.center-area {
  padding: 0px 24px;
  .main-center-heading {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 18px;
    letter-spacing: 0.25px;
    font-weight: 500;
    color: var(--question-text-blue);
    margin-top: 70px;
  }

  .main-box-area {
    height: 389px; //329px;
    display: flex;
    justify-content: space-between;
    .box {
      justify-content: space-between;

      height: 389px;
      width: 234px;
      border-radius: 4px;
      .main-box-text {
        color: #052978;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
      }
      .box-area {
        height: 389px;
        position: relative;
        width: 234px;
        border-radius: 4px;
        border: 1px solid #35374c;
        // .select-btn {
        //   position: absolute;
        //   height: 28px;
        //   width: 86px;
        //   border-radius: 16px;
        //   background-color: #352103;
        //   color: #fbf1e9;
        //   font-size: 14px;
        //   cursor: pointer;
        // }

        // .plant {
        //   bottom: 13px;
        //   height: 28px;
        //   width: 66px;
        //   left: 16px;
        //   &:focus:not(:disabled) {
        //     box-sizing: border-box;
        //     border: 1px solid #ba5b08;
        //     box-shadow: 0 0 0 1px var(--white), 0 0 0 2px #0056b3;
        //   }
        // }

        // .animal {
        //   bottom: 13px;
        //   height: 28px;
        //   width: 81px;
        //   right: 16px;

        //   &:focus:not(:disabled) {
        //     box-sizing: border-box;
        //     box-shadow: 0 0 0 1px var(--white), 0 0 0 2px #0056b3;
        //     padding: 0px;
        //   }
        // }

        // .select-btn:hover {
        //   background-color: #ba5b08;
        //   box-shadow: 0 0 0 1px var(--white), 0 0 0 2px #0056b3;
        // }
        // &:focus:not(:disabled) {
        //   box-sizing: border-box;
        //   width: 36px;
        //   border: 5px solid pink;
        //   border-radius: 6px;
        //   padding: 0px;
        // }

        .box-area-img {
          width: 232px;
          height: 329px;
          overflow: hidden;
          position: relative;
          background-size: cover;
          background-repeat: no-repeat;

          &.box-area-img1 {
            background-image: url("../../assets/images/Rain_forest_BG.png");
          }

          &.box-area-img2 {
            background-image: url("../../assets/images/Artic_Tundra_BG.png");
          }

          &.box-area-img3 {
            background-image: url("../../assets/images/Grassland_BG.png");
          }
        }

        .box-btn-wrapper {
          display: flex;
          position: relative;
          align-items: center;
          flex-direction: row;
          align-content: center;
          height: calc(100% - 329px);
          justify-content: space-between;
          margin-top: -7px;

          .hotspot-btn {
            &.label {
              &:first-child {
                margin-left: 16px;
              }
              &:last-child {
                margin-right: 16px;
              }
            }
          }
        }
      }
    }
  }

  $btn-height: 35px;

  .sp_tabs-tab-list-buttons {
    position: absolute;
    width: 100%;
    top: 91px;
    left: -5px;

    li {
      width: 135px;
      display: inline-block;
      background-color: white;
      padding: 5px;
      button {
        width: calc(100% - 12px);
        z-index: 1;
      }

      .sp_tabs-tab-list-button {
        width: 135px;
        background-color: transparent;
        color: #0056b3;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.25px;
        line-height: 20px;

        &.selected {
          height: 32px;
          position: relative;
          border-bottom-width: 0;
          background-color: #fff;
          border-top-left-radius: 8px;
          border-top-right-radius: 7px;
          border-top: 3px solid #0056b3;
          border-left: 2px solid #0056b3;
          border-bottom-left-radius: 2px;
          &::before {
            width: 15px;
            content: "";
            top: 0px;
            right: -9px;
            height: 35px;
            position: absolute;
            transform: rotate(-35deg);
            border-right: 3px solid #0056b3;
            background-color: white;
            border-top-right-radius: 4px;
          }
          &::after {
            position: absolute;
            content: "";
            width: 7px;
            height: 5px;
            transform: rotate(-35deg);
            bottom: -3px;
            right: -15px;
            background-color: white;
          }
        }
      }

      .accessible-button {
        padding: 0;
        box-shadow: none;
        justify-content: center;
        background-color: white;
        border-radius: 4px;
        &:not(:disabled) {
          &:focus {
            span {
              border-bottom: 3px solid #0056b3;
            }
          }
        }
      }
    }
  }
  .border-area {
    border: 2px solid #0056b3;
    position: relative;
    box-sizing: border-box;
    height: 440.96px;

    width: 751.99px;
    border-radius: 0px 7px 7px 7px;
    border-top: 3px solid #0056b3;
    margin-top: $btn-height;
  }
}
