.sim133 .firstScreenTop {
  position: relative;
  height: 186px;
  width: 800px;
  display: flex;
  justify-content: center;

  p {
    height: 60px;
    width: 752px;
    color: #052978;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 20px;
    margin-top: 80px;
  }
}

.sim133 .firstScreenBottom {
  height: 414px;
}
