
@import "../../stylesheets/common/functions.scss";
.gap{
  margin: 80px 24px 24px;
}

.wrapper--gap{
  margin-left: 77px;
}

.box{
  @extend %flex;
  margin-bottom: 24px;
  &__container{
    @include rectangle(153px, 124px, 1px solid #35374C);
    border-radius: 9px;
    background: {
      size: 80%;
      position: center;
      repeat: no-repeat;
    }
  }
  &:nth-child(2){
    margin-left: 93px;
  }
  &__btn{
    margin: 0 auto 0 24px;
    height: 28px;
  }
}