@import "../../app/stylesheets/global.scss";
@import "../../app/stylesheets/globalColors.scss";

.activity-container {
  top: 0;
  left: 0;
  width: 800px;
  height: 600px;
  position: absolute;

  div[role="main"] {
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    &.z-index {
      z-index: 1;
    }
  }
  #dialog-description-startBox img {
    width: 621px;
    height: 341px;
    margin-top: 16px;
  }
  @import "./activity/main.scss";
}
