// Full View wrapper
.full-view-wrapper {
  padding: 72px 24px 0;
  height: 100vh;
  width: 100%;
  .instruction-text {
    span {
      display: block;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

//HotSpot Button Text
.hotspot-btn {
  .text {
    font-size: 14px !important;
  }
  &:disabled {
    opacity: 1;
  }
}

//Instruction Text
.instruction-text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  font-weight: 500;
  color: #052978;
}

//Tabs Wrapper
.tabs-wrapper {
  display: flex;
  justify-content: center;
  .tab-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-right: 24px;
    &:last-child {
      margin-right: 0;
    }
    .button-wrapper {
      display: inline-flex;
    }
    &.carbon-cycle {
      margin-top: 70px;
      img {
        width: 310px;
        height: 196px;
      }
      .img {
        background-image: url('../../../assets/images/carbon-cycle.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 196px;
        width: 310px;
        display: block;
        margin-bottom: 16px;
      }
      .texts {
        span {
          color: black;
          position: absolute;
        }
        .text-1 {
          font-size: 30px;
          left: 106px;
          top: 45px;
        }
        .text-2 {
          font-size: 35px;
          left: 75px;
          top: 77px;
        }
        .text-3 {
          font-size: 37px;
          left: 45px;
          top: 116px;
        }
      }
    }
    &.nitrogen-cycle {
      margin-top: 70px;
      img {
        width: 310px;
        height: 196px;
      }
      .img {
        background-image: url('../../../assets/images/nitrogen-cycle.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 196px;
        width: 310px;
        display: block;
        margin-bottom: 16px;
      }
      .texts {
        span {
          color: black;
          position: absolute;
        }
        .text-1 {
          font-size: 30px;
          left: 95px;
          top: 42px;
        }
        .text-2 {
          font-size: 35px;
          left: 61px;
          top: 75px;
        }
        .text-3 {
          font-size: 37px;
          left: 32px;
          top: 116px;
        }
      }
    } 
    &.carbon-explore-tab-1 {
      margin-top: 70px;
      img {
        height: 227px;
        width: 233px;
      }
      .img {
        background-image: url('../../../assets/images/carbon-explore-1.png'); 
        background-size: contain;
        background-repeat: no-repeat;
        height: 227px;
        width: 233px;
        display: block;
        margin-bottom: 16px;
      }
      .texts {
        span {
          position: absolute;
          font-size: 12px;
          font-weight: 700;
          text-align: center;
          line-height: 1.2;
          &.text-1 {
            left: 23px;
            top: 64px;
          }
          &.text-2 {
            left: 8px;
            top: 131px;
          }
          &.text-3 {
            left: 33px;
            top: 187px;
          }
          &.text-4 {
            left: 173px;
            top: 37px;
          }
          &.text-5 {
            left: 179px;
            top: 130px;
          }
          &.text-6 {
            left: 161px;
            top: 183px;
          }
        }
      }
    }  
    &.carbon-explore-tab-2 {
      margin-top: 70px;
      img {
        height: 227px;
        width: 233px;
        left: 20px;
      }
      .img {
        background-image: url('../../../assets/images/carbon-explore-2.png'); 
        background-size: contain;
        background-repeat: no-repeat;
        height: 227px;
        width: 233px;
        display: block;
        margin-bottom: 16px;
      }
    }
    &.carbon-dioxide-explore-tab-1 {
      margin-top: 70px;
      img {
        height: 227px;
        width: 233px;
      }
      .img {
        background-image: url('../../../assets/images/carbon-dioxide-explore-1.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 227px;
        width: 233px;
        display: block;
        margin-bottom: 16px;
      }
      .texts {
        span {
          position: absolute;
          text-align: center;
          line-height: 1.2;
          &.big {
            font-size: 13px;
            font-weight: 500;
          }
          &.normal {
            font-size: 10px;
            font-weight: 700;
          }
          &.small {
            font-size: 8px;
            font-weight: 700;
          }
          &.white {
            color: white;
          }
          &.text-1 {
            left: 26px;
            top: 16px;
          }
          &.text-2 {
            left: 12px;
            top: 56px;
          }
          &.text-3 {
            left: 170px;
            top: 58px;
          }
          &.text-4 {
            left: 16px;
            top: 92px;
          }
          &.text-5 {
            left: -10px;
            top: 122px;
            transform: rotate(270deg);
          }
          &.text-6 {
            left: 9px;
            top: 161px;
          }
          &.text-7 {
            left: 55px;
            top: 114px;
            transform: rotate(270deg);
          }
          &.text-8 {
            left: 81px;
            top: 91px;
          }
          &.text-9 {
            left: 89px;
            top: 126px;
            transform: rotate(270deg);
          }
          &.text-10 {
            left: 158px;
            top: 107px;
          }
          &.text-11 {
            left: 192px;
            top: 119px;
            transform: rotate(270deg);
          }
          &.text-12 {
            left: 137px;
            top: 162px;
          }
          &.text-13 {
            left: 2px;
            top: 196px;     
          }
          &.text-14 {
            left: 47px;
            top: 197px;
          }
          &.text-15 {
            left: 98px;
            top: 198px;
          }
        }
      }
    }
    &.carbon-dioxide-explore-tab-2 {
      margin-top: 70px;
      img {
        height: 227px;
        width: 233px;
      }
      .img {
        background-image: url('../../../assets/images/carbon-dioxide-explore-2.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 227px;
        width: 233px;
        display: block;
        margin-bottom: 16px;
      }
    }
    &.carbon-dioxide-explore-tab-3 {
      margin-top: 70px;
      img {
        height: 227px;
        width: 233px;
      }
      .img {
        background-image: url('../../../assets/images/carbon-dioxide-explore-3.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 227px;
        width: 233px;
        display: block;
        margin-bottom: 16px;
      }
      .texts {
        span {
          position: absolute;
          text-align: center;
          line-height: 1.2;
          &.big {
            font-size: 13px;
            font-weight: 500;
          }
          &.normal {
            font-size: 10px;
            font-weight: 700;
          }
          &.small {
            font-size: 8px;
            font-weight: 700;
          }
          &.text-1 {
            top: 14px;
            left: 66px;
          }
          &.text-2 {
            top: 94px;
            left: -76px;
            transform: rotate(270deg);
          }
          &.text-3 {
            top: 35px;
            left: 20px;
          }
          &.text-4 {
            top: 49px;
            left: 20px;   
          }
          &.text-5 {
            top: 62px;
            left: 20px;
          }
          &.text-6 {
            top: 75px;
            left: 20px;
          }
          &.text-7 {
            top: 90px;
            left: 20px;
          }
          &.text-8 {
            top: 105px;
            left: 22px;
          }
          &.text-9 {
            top: 119px;
            left: 22px;
          }
          &.text-10 {
            top: 133px;
            left: 22px;     
          }
          &.text-11 {
            top: 147px;
            left: 22px;   
          }
          &.text-12 {
            top: 162px;
            left: 22px;      
          }
          &.text-13 {
            top: 175px;
            left: 22px;
          }
          &.text-14 {
            top: 175px;
            left: 58px;
          }
          &.text-15 {
            top: 175px;
            left: 95px; 
          }
          &.text-16 {
            top: 175px;
            left: 131px;
          }
          &.text-17 {
            top: 175px;
            left: 168px;
          }
          &.text-18 {
            top: 175px;
            left: 204px;
          }
          &.text-19 {
            top: 134px;
            left: 69px;
          }
          &.text-20 {
            top: 71px;
            left: 167px;
          }
          &.text-21 {
            top: 110px;
            left: 153px;
          }
          &.text-22 {
            top: 189px;
            left: 13px;
          }
          &.text-23 {
            top: 195px;
            left: 13px;
          }
          &.text-24 {
            top: 205px;
            left: 13px;
          }
        }
      }
    }
    &.nitrogen-explore-tab-1 {
      margin-top: 70px;
      img {
        height: 264px;
        width: 270px;
      }
      .img {
        background-image: url('../../../assets/images/nitrogen-explore-1.png'); 
        background-size: contain;
        background-repeat: no-repeat;
        height: 264px;
        width: 270px;
        display: block;
        margin-bottom: 16px;
      }
      .texts {
        span {
          position: absolute;
          font-size: 11px;
          font-weight: 700;
          text-align: center;
          line-height: 1.2;
          &.text-1 {
            left: 104px;
            top: 117px;
            transform: rotate(37deg);
          }
          &.text-2 {
            left: 65px;
            top: 129px;            
            transform: rotate(37deg);
          }
          &.text-3 {
            left: 206px;
            top: 114px;
          }
          &.text-4 {
            left: 115px;
            top: 245px;
          }
        }
      }
    }
    &.nitrogen-explore-tab-2 {
      margin-top: 70px;
      img {
        height: 264px;
        width: 270px;
      }
      .img {
        background-image: url('../../../assets/images/nitrogen-explore-2.png'); 
        background-size: contain;
        background-repeat: no-repeat;
        height: 264px;
        width: 270px;
        display: block;
        margin-bottom: 16px;
      }
      .texts {
        span {
          position: absolute;
          font-size: 12px;
          font-weight: 700;
          text-align: center;
          line-height: 1.2;
          &.text-1 {
            left: -25px;
            top: 109px;
            transform: rotate(270deg);
          }
          &.text-2 {
            left: 32px;
            top: 44px;
          }
          &.text-3 {
            left: 32px;
            top: 113px;
            sup {
              position: absolute;
              left: 21px;
              top: -3px;
            }
          }
          &.text-4 {
            left: 32px;
            top: 177px;
            sup {
              position: absolute;
              left: 21px;
              top: -3px;
            }
          }
          &.text-5 {
            left: 62px;
            top: 44px;
          }
          &.text-6 {
            left: 62px;
            top: 112px;
          }
          &.text-7 {
            left: 62px;
            top: 177px;
          }
          &.text-8 {
            left: 109px;
            top: 151px;
          }
          &.text-9 {
            left: 166px;
            top: 155px;
          }
          &.text-10 {
            left: 231px;
            top: 155px;
          }
          &.text-11 {
            left: 81px;
            top: 164px;
          }
          &.text-12 {
            left: 138px;
            top: 139px;
          }
          &.text-13 {
            left: 205px;
            top: 166px;
          }
          &.text-14 {
            left: 114px;
            top: 217px;
          }
        }
      }
    }
  }
}

//Color classes
.color-1 {
  color: #B35000 !important;  
}
.color-2 {
  color: #e22b00 !important;
}
.color-3 {
  color: #d2fffd !important;
}
.color-4 {
  color: #00437f !important;
}
.color-5 {
  color: #ff5050 !important;
}
.color-6 {
  color: #FFADAD !important;
}
.color-7 {
  color: #0a5613 !important;
}
.color-8 {
  color: #ff0c06 !important;
}
.color-9 {
  color: #002ad8 !important;
}