$Nuclear: "../../assets/images/07_Nuclear-Power.png";
$Medical: "../../assets/images/06_Medical-Imaging.png";
$Blacklight: "../../assets/images/05_Blacklight.png";
$Purple: "../../assets/images/04_Purple-Light.png";
$Night: "../../assets/images/03_Night-Vision-Goggles.png";
$Radar: "../../assets/images/02_Radar.png";
$Cell: "../../assets/images/01_Cell-Phone.png";

.wavelength-wrapper {
  .radiobutton {
    width: 47% !important;
  }
  .spectrum-wrapper {
    height: 131px;
    width: 310px;
    margin-top: 10px;
    margin-bottom: 25px;
    .spectrum-image {
      display: flex;
      height: 131px;
      width: 310px;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: var(--white);
      &.radioactive,
      &.gammaRay {
        background-image: url($Nuclear);
      }

      &.amRadio {
        background-image: url($Medical);
      }

      &.ultraviolet {
        background-image: url($Blacklight);
      }

      &.lightBulb,
      &.visibleLight {
        background-image: url($Purple);
      }
      &.Night,
      &.infrared {
        background-image: url($Night);
      }

      &.Radar,
      &.microwave {
        background-image: url($Radar);
      }

      &.Cell,
      &.radiowaves {
        background-image: url($Cell);
      }
    }
    .textContainer {
      display: flex;
      justify-content: center;
      margin-top: 8px;
      margin-bottom: 10px;
      .wavelength-text {
        color: var(--secondary-attention-dark);
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.25px;
        line-height: 20px;
      }
    }
  }
}
.wrapper {
  height: 100%;
  width: 100%;
  .instructor {
    p {
      color: var(--question-text-blue);
      font-size: 14px;
      letter-spacing: 0.15px;
      line-height: 20px;
      margin-bottom: 8px;
      font-weight: 500;
      letter-spacing: 0.25px;
    }
  }
  .radiobuttons {
    flex-wrap: wrap;
    flex-direction: row;
    .radiobutton-inner-wrapper {
      align-items: flex-start !important;
    }
  }

  .option-container {
    display: flex;
    .draggable-btn-wrapper {
      display: flex;
      flex-wrap: wrap;
      place-content: space-evenly;
      .buttonLabel-wrapper {
        height: 107px;
        width: 254px;
        margin-top: 16px;
        border: 1px dashed var(--primary-blue);
        background-color: var(--white);
        cursor: grab;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &.draggable {
      position: relative;
      .dropdown {
        position: absolute;
        height: 84px;
        width: 100%;
        justify-content: space-between;
        z-index: 2;
        display: flex;
        top: 285px;

        li {
          position: inherit;
          height: 80px;
          width: 190px;
          list-style: none;
          &.menuitem-1 {
            position: inherit;
            left: 0;
            &.content-3 {
              left: 0px;
              width: 250px;
            }
          }
          &.menuitem-2 {
            position: inherit;
            left: 182px;
            &.content-3 {
              left: 250px;
              width: 250px;
            }
          }
          &.menuitem-3 {
            position: inherit;
            left: 370px;
            &.content-3 {
              left: 500px;
              width: 250px;
            }
          }
          &.menuitem-4 {
            position: inherit;
            left: 560px;
          }

          a {
            width: 100%;
            height: 100%;
            position: absolute;
          }
        }
      }

      .option {
        display: flex;
        height: 96px;
        width: 222px;
        background-repeat: no-repeat;
        background-size: contain;
        border: 1px solid var(--white);
        background-color: var(--white);
        &.Nuclear {
          background-image: url($Nuclear);
        }

        &.Medical {
          background-image: url($Medical);
        }

        &.Blacklight {
          background-image: url($Blacklight);
        }

        &.Purple {
          background-image: url($Purple);
        }
        &.Night {
          background-image: url($Night);
        }

        &.Radar {
          background-image: url($Radar);
        }

        &.Cell {
          background-image: url($Cell);
        }
        span {
          width: 100%;
          height: 100%;
          flex-shrink: 0;
          display: none;
          pointer-events: none;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
      .accessible-button {
        width: 288px;
        height: 120px;
        background-color: rgba(255, 255, 255, 0);
        border: none;
        position: absolute;
        z-index: -1;
        &.btn-0 {
          left: 56px;
        }
        &.btn-1 {
          left: 400px;
        }
        &.btn-2 {
          &.drag-4 {
            left: 56px;
          }
          &.drag-3 {
            left: 230px;
          }
        }
        &.btn-3 {
          left: 400px;
        }
      }

      .option {
        &:not(.ui-draggable-dragging):not(:disabled):hover {
          border: 1px solid var(--primary-blue);
          background-color: var(--hover-state-color);
        }
        &:not(.ui-draggable-dragging):not(:disabled) {
          cursor: grab;
        }
      }
    }

    &.droppable {
      position: relative;
      margin-top: 38px;
      height: 84px;
      width: 100%;
      justify-content: space-between;
      .droppable-main {
        box-sizing: border-box;
        flex: 1;
        border: 1px solid var(--primary-blue);
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        .option {
          height: 84px;
          width: 187px;
          &.element-dropped {
            height: 75px;
            width: 178px;
            background-repeat: no-repeat;
            background-size: contain;
            opacity: 1;
            margin: 0 auto;
            &.Nuclear {
              background-image: url($Nuclear);
            }

            &.Medical {
              background-image: url($Medical);
            }

            &.Blacklight {
              background-image: url($Blacklight);
            }

            &.Purple {
              background-image: url($Purple);
            }
            &.Night {
              background-image: url($Night);
            }

            &.Radar {
              background-image: url($Radar);
            }

            &.Cell {
              background-image: url($Cell);
            }
          }
        }
      }
    }

    .option {
      display: flex;
      justify-content: center;
      align-items: center;
      outline: 1px solid transparent;
      font-size: 0;
      &.hover-drop-zone {
        background-color: var(--hover-state-color);
      }

      &.element-dragging {
        border: 1px dashed var(--primary-blue);
        background-color: var(--hover-state-color);
      }

      &.element-dragged {
        color: var(--range-slider-unselected-value);
        background-color: var(--white);
        position: relative;
        opacity: 0.6;
        font-size: 0;
      }

      &.ui-draggable {
        cursor: grab;
        z-index: 1;
      }

      &.ui-draggable-dragging {
        border: 1px solid var(--question-text-blue);
        color: var(--white);
        cursor: grabbing;
        z-index: 999;
      }
      &.ui-draggable-disabled {
        cursor: default;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  .slider-container {
    margin-top: 0;
    .slider .datalist {
      justify-content: space-around;

      .list-item {
        width: 190px;
        .value {
          color: var(--question-text-blue);
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 0.4px;
          line-height: 16px;
          text-align: center;
          .list-label {
            display: block;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 0.6px;
            line-height: 16px;
            text-align: center;
            color: var(--secondary-attention-dark);
            left: 90px;
            position: relative;
            top: -16px;
          }
        }
      }
      .list-item:last-child .list-label {
        display: none;
      }
      &.list3 {
        .list-item {
          .value {
            .list-label {
              left: 125px;
              position: relative;
              top: -16px;
            }
          }
        }
      }
    }

    .slider input[type="range"] {
      display: none;
    }
  }
}
