@import "../../app/stylesheets/global.scss";
@import "../../app/stylesheets/globalColors.scss";

.activity-container {
  top: 0;
  left: 0;
  width: 800px;
  height: 600px;
  position: absolute;

  div[role="main"] {
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    .intro-popup-img {
      background-image: url(../assets/images/popup.png);
      position: relative;
      width: 554px;
      height: 324px;
      margin-top: 16px;
      margin-bottom: 16px;
      background-size: contain;
      left: 28px;
    }

    &.z-index {
      z-index: 1;
    }
  }

  @import "./activity/main.scss";
}
