.gravityLeftHolder {
  .pole {
    position: absolute;
    top: 83px;
    left: 449px;
    height: 415px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      height: inherit;
    }
    .poleData {
      position: absolute;
      top: 191px;

      color: #000;
      background-color: #befff6;
      font-size: 14px;
      font-weight: 500;
    }
    .upArrow,
    .downArrow {
      height: 220px;
      position: relative;
    }
    .downArrow {
      top: 13px;
    }
    .arrowHead {
      width: 12px;
      height: 12px;
      border-top: 2px solid #000;
      border-right: 2px solid #000;
    }
    .line {
      border-left: 2px solid #000;
      width: 2px;
      height: 175px;
      position: absolute;
    }
    &--downArrow {
      transform: rotate(494deg) !important;
      position: absolute;
      bottom: 33px;
      left: -4.7px;
      &::after {
        content: "";
        height: 10px;
        width: 25px;
        border-bottom: 2px solid #000;
        position: absolute;
        top: -17px;
        left: 9px;
        transform: rotate(46deg);
      }
    }
    &--upArrow {
      transform: rotate(314deg) !important;
      position: absolute;
      top: 1px;
      left: -4.7px;
      &::after {
        content: "";
        height: 10px;
        width: 25px;
        border-bottom: 2px solid #000;
        position: absolute;
        top: -17px;
        left: 9px;
        transform: rotate(46deg);
      }
    }
  }
}
