@import "../../stylesheets/common/functions.scss";
@import "./animation";

.sun {
  @extend %absolute, %bg-contain, %bg-no-repeat;
  background-image: url("../../assets/images/Sun.png");
  width: 70px;
  height: 70px;
  top: -55px;
  right: -8px;
}
.animation-container {
  @extend %absolute;
  height: 184px;
  width: 532px;
  left: 111px;
  bottom: 85px;
}
