@import "../../stylesheets/common/functions.scss";
.fullViewWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.frame {
  @extend %relative;
  margin-top: 84px;
  &__img {
    @extend %overflow-hidden;
    width: 313px;
    height: 239px;
    border-radius: 6px;
    img {
      @extend %full-object;
    }
  }
  &__text {
    @extend %absolute, %color-white;
    font-size: 10px;
    &--spain {
      top: 42%;
      left: 88px;
    }
    &--zealand {
      top: 44%;
      right: 120px;
    }
  }
  &__footer {
    @extend %center-text;
    button {
      @extend %margin-zero-auto, %cursor-pointer;
      margin-top: 12px;
    }
  }
  &:last-child {
    margin-left: 34px;
  }
}
