.bottom-area {
  margin-top: -20px;
  position: relative;
  height: 100%;
  .mcq-question-area {
    p {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      margin-top: 15px;
      margin-bottom: unset;
      letter-spacing: 0.25px;
      font-weight: 500;
      color: var(--question-text-blue);
    }
    .inner-wrapper {
      .question {
        margin-bottom: unset;
      }
      .radiobuttons {
        justify-content: space-between;
        .radiobutton {
          width: unset;
          label {
            font-variant: lining-nums;
          }
        }
      }
      .submit-button {
        bottom: 1px;
      }
    }
  }
}
.nxt-class {
  bottom: 21px !important;
}
