.right-area-es {
  position: relative;
  height: calc(100% - 80px);

  .toast-secondary-button {
    right: 0px;
  }
  .wrapper-1 {
    position: absolute;
    margin-top: 8px;
    padding: 12px;
    padding-top: 6px;
    border: 1px solid var(--secondary-attention-orange);
    border-radius: 8px;
    background-color: var(--secondary-attention-light);
    display: inline-block;
    left: 0;
    height: 76px;
    width: 212px;

    .close-btn {
      position: absolute;
      bottom: 10px;
      float: right;
      right: 6px;

      .btn {
        &:hover {
          border: 2px solid var(--secondary-attention-dark);
          border-radius: 8px;
          padding: 6px 16px;
          margin: 8px 16 px;
          border-radius: 30px;
          background-color: #e6700a; //var(--secondary-attention-orange);
        }
      }

      .toast-button {
        box-sizing: border-box;
        height: 28px;
        width: 63px;
        border: 2px solid #352103;
        border-radius: 14px;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          color: #352103;
          font-size: 12px;
          display: flex;
          justify-content: center;
          align-items: center;

          &.focus {
            color: #352103;
            font-size: 12px;
          }
        }

        &:hover:not(:disabled) {
          padding: 8px;
          box-shadow: 0 0 0 1px var(--white), 0 0 0 2px #352103;
          border: 2px solid #352103;
        }
      }
    }

    .content {
      color: var(--secondary-attention-dark);
      font-size: 14px;
      letter-spacing: 0.25px;
      line-height: 20px;
      margin: 0px 32px 12px 0px;
      border-radius: 30%;
    }
  }

  .mcq-question-area {
    .inner-wrapper {
      .radiobuttons {
        .radiobutton:nth-child(1) {
          .radiobutton-inner-wrapper {
            // label:nth-child(1) {
            //   background-color: black;
            // }
            input[type="radio"] + div + label {
              position: absolute;
              left: 31px;
              top: 6px;
            }
          }
        }

        .radiobutton:nth-child(2) {
          .radiobutton-inner-wrapper {
            input[type="radio"] + div + label {
              margin-top: 2px;
            }
          }
        }
      }
    }
  }
}

.right-area-en {
  position: relative;
  height: calc(100% - 80px);

  .toast-secondary-button {
    right: 0px;
  }
  .wrapper-1 {
    position: absolute;
    margin-top: 8px;
    padding: 12px;
    padding-top: 6px;
    border: 1px solid var(--secondary-attention-orange);
    border-radius: 8px;
    background-color: var(--secondary-attention-light);
    display: inline-block;
    left: 0;
    height: 76px;
    width: 212px;

    .close-btn {
      position: absolute;
      bottom: 10px;
      float: right;
      right: 6px;

      .btn {
        &:hover {
          border: 2px solid var(--secondary-attention-dark);
          border-radius: 8px;
          padding: 6px 16px;
          margin: 8px 16 px;
          border-radius: 30px;
          background-color: #e6700a; //var(--secondary-attention-orange);
        }
      }

      .toast-button {
        box-sizing: border-box;
        height: 28px;
        width: 63px;
        border: 2px solid #352103;
        border-radius: 14px;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          color: #352103;
          font-size: 12px;
          display: flex;
          justify-content: center;
          align-items: center;

          &.focus {
            color: #352103;
            font-size: 12px;
          }
        }

        &:hover:not(:disabled) {
          padding: 8px;
          box-shadow: 0 0 0 1px var(--white), 0 0 0 2px #352103;
          border: 2px solid #352103;
        }
      }
    }

    .content {
      color: var(--secondary-attention-dark);
      font-size: 14px;
      letter-spacing: 0.25px;
      line-height: 20px;
      margin: 0px 32px 12px 0px;
      border-radius: 30%;
    }
  }

  .mcq-question-area {
    .inner-wrapper {
      .radiobuttons {
        .radiobutton {
          .radiobutton-inner-wrapper {
            input[type="radio"] + div + label {
              margin-top: 3px;
            }
          }
        }
      }
    }
  }
}
