.mainContainer {
  .imgContainer {
    width: 800px;
    height: 600px;
  }
  .headerContent {
    position: absolute;
    top: 100px;
    left: 20px;
  }
  .formatting {
    color: #052978;
    font-size: 14px;
    font-weight: 500;
  }
  .instructionContent {
    position: relative;
    top: 18px;
  }
}
