.scalable-wrapper-container {
  top: 50%;
  left: 50%;
  width: 800px;
  height: 600px;
  display: block;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translate(-50%, -50%);

  .scalable-wrapper-inner {
    top: 0;
    left: 0;
    width: 800px;
    height: 600px;
    position: absolute;
    display: inline-block;
    transform-origin: left top;
  }
}
